<div class="edit-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Edit Item</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-4">
        <img class="img-avatar" [src]="item.url">
      </div>

      <div class="col col-md-8">
        <form class="edit-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Ename" class="form-control" formControlName="ename">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Hname" class="form-control" formControlName="hname">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Unit" class="form-control" formControlName="unit">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Price" class="form-control" formControlName="price">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Mrp" class="form-control" formControlName="mrp">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="id" class="form-control" formControlName="id">
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="url" class="form-control" formControlName="url">
            </mat-form-field>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Save</button>
            </div>
            <div class="col-md-4">
              <button mat-raised-button class="delete-button" color="warn" type="button" (click)="delete()">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
