<div class="create-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Create a new Item</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">
      <div class="col col-md-8">

        <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Name" class="form-control" formControlName="name">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.name">
              <mat-error *ngIf="exampleForm.get('name').hasError(validation.type) && (exampleForm.get('name').dirty || exampleForm.get('name').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Quantity" class="form-control" formControlName="quantity">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.quantity">
              <mat-error *ngIf="exampleForm.get('quantity').hasError(validation.type) && (exampleForm.get('quantity').dirty || exampleForm.get('quantity').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Price" class="form-control" formControlName="price">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.price">
              <mat-error *ngIf="exampleForm.get('price').hasError(validation.type) && (exampleForm.get('price').dirty || exampleForm.get('price').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="Category" >
              <select name="Category" id="grocery" class="form-control"  formControlName="category">
                <option>Vegetables</option>
                <option>Fruits</option>
                <option>Dairy</option>
                <option>Other Grocery item</option>
              </select>
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.category">
              <mat-error *ngIf="exampleForm.get('category').hasError(validation.type) && (exampleForm.get('category').dirty || exampleForm.get('category').touched)">{{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group">
            <mat-form-field class="input-style">
              <input matInput placeholder="ImageSource" class="form-control" formControlName="imageSource">
            </mat-form-field>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!exampleForm.valid">Create</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
